/* Base */
html {
  overflow-x: hidden; }

body {
  line-height: 1.7;
  font-weight: 300;
  font-size: 1.1rem;
  color: black; }
}

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: black; }
  
  a:hover {
    text-decoration: none; 
	color: #f1e645; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000; }

.number {
margin-top: -22px;
font-size: 15px;
font-weight: bold;
}

.title1 {
color:#ffe941;	
}

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  border-width: 2px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary:hover {
    border-color: #c83660;
    background: #c83660;
    color: #fff; }
  .btn.btn-black {
    border-width: 2px;
    border-color: #000;
    background: #000;
    color: #fff; }
    .btn.btn-black:hover {
      color: #000;
      background-color: transparent; }
    .btn.btn-black.btn-outline-black {
      color: #000;
      background-color: transparent; }
      .btn.btn-black.btn-outline-black:hover {
        border-color: #000;
        background: #000;
        color: #fff; }
  .btn.btn-white {
    border-width: 2px;
    border-color: #fff;
    background: #fff;
    color: #000; }
    .btn.btn-white:hover {
      color: #fff;
      background-color: transparent; }
    .btn.btn-white.btn-outline-white {
      color: #fff;
      background-color: transparent; }
      .btn.btn-white.btn-outline-white:hover {
        border-color: #fff;
        background: #fff;
        color: #000; }
  .btn.btn-outline-white {
    background: transparent;
    border-color: #fff;
    color: #fff; }
    .btn.btn-outline-white:hover {
      background: #fff;
      border-color: #fff;
      color: #000; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.form-control {
  height: 50px;
  border-radius: 0px;
  background: none;
  border-width: 2px;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .form-control:active, .form-control:focus {
    border-color: #c83660;
    background: none; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0;
  margin-top: -69px; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }

.border-top {
  border-top: 1px solid #edf0f5 !important; }

.site-footer {
  padding: 4em 0; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: black; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900; }

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #fff; }
  .ul-check.success li:before {
    color: #8bc34a; }
  .ul-check.primary li:before {
    color: #c83660; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }

/* Navbar */
.site-logo {
  position: relative;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase; }
  .site-logo a {
    color: #fff; }
    .site-logo a span {
      color: #ffe941; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%; }
  .site-navbar .container-fluid {
    padding-left: 7rem;
    padding-right: 7rem; }
    @media (max-width: 991.98px) {
      .site-navbar .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #c83660;
      display: inline-block;
      padding: 5px 20px; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 5px 20px;
        color: #fff;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fff; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #c83660;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #c83660 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f4f5f9;
              color: #25262a; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #c83660; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }
    .site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
      color: #000; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #25262a; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #c83660; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .active {
        color: #c83660; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper + .site-blocks-cover {
    margin-top: 96px; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .sticky-wrapper .site-navbar .site-menu-toggle > span:before {
      color: #fff !important; }
    .sticky-wrapper .site-navbar .site-menu > li {
      display: inline-block; }
      .sticky-wrapper .site-navbar .site-menu > li > a.active {
        color: #fff;
        position: relative; }
        .sticky-wrapper .site-navbar .site-menu > li > a.active:after {
          height: 2px;
          background: #fff;
          content: "";
          position: absolute;
          bottom: 0;
          left: 20px;
          right: 20px; }
  .sticky-wrapper.is-sticky .site-navbar {
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    background: #fff; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle > span:before {
      color: #000 !important; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #000; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li {
      display: inline-block; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
        padding: 5px 20px;
        color: #000;
        display: inline-block;
        text-decoration: none !important; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover {
          color: #ffe941; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
          background: #ffe941; }
  .sticky-wrapper .shrink {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

/* Blocks */
.intro-section {
  position: relative;
  margin-bottom: 42px; }
  .intro-section > .container {
    z-index: 10;
    position: relative; }
  .intro-section, .intro-section .container .row {
    height: 100vh;
    min-height: 900px; }
  .intro-section:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ccc;
    border-bottom-right-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 991.98px) {
      .intro-section:before {
        width: 100%; } }
  .intro-section:after {
    content: "";
    position: absolute;
    background-image: url("https://i.imgur.com/L01Cyq1.jpeg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: -30px; }
  .intro-section h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #fff; }
    @media (max-width: 991.98px) {
      .intro-section h1 {
        font-size: 2rem; } }
  .intro-section .desc {
    color: white;
    font-size: 1.4rem;
    max-width: 700px; }
  .intro-section a {
    color: #fff;
    text-decoration: underline; }
    .intro-section a:hover {
      text-decoration: none; }
  .intro-section .btn {
    text-decoration: none; }

.schedule-wrap {
  padding: 40px;
  background: #c83660;
  max-width: 700px;
  position: relative;
  z-index: 9;
  color: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .schedule-wrap:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: inherit;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-12deg, 0deg);
    -ms-transform: skew(-12deg, 0deg);
    transform: skew(-12deg, 0deg); }
  .schedule-wrap strong {
    color: #fff;
    font-weight: bold; }
  .schedule-wrap .cta a {
    text-align: center;
    background: #f89d13;
    color: #fff;
    padding: 10px 20px; }
    .schedule-wrap .cta a .arrow {
      font-size: 1.2rem;
      position: relative;
      top: 3px; }

.schedule-wrap2 {
  padding: 40px;
  background: #c83660;
  width: 50%;
  position: absolute;
  z-index: 9;
  right: 0;
  color: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 991.98px) {
    .schedule-wrap2 {
      width: 90%; } }
  .schedule-wrap2:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: inherit;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: skew(12deg, 0deg);
    -ms-transform: skew(12deg, 0deg);
    transform: skew(12deg, 0deg); }
  .schedule-wrap2 strong {
    color: #fff;
    font-weight: bold; }
  .schedule-wrap2 .cta a {
    text-align: center;
    background: #f89d13;
    color: #fff;
    padding: 10px 20px; }
    .schedule-wrap2 .cta a .arrow {
      font-size: 1.2rem;
      position: relative;
      top: 3px; }

.ftco-feature-1 {
  text-align: center;
  padding-top: 30px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #cdcdcd2e; }
  .ftco-feature-1 .icon {
    font-size: 70px;
    color: #ffe941; }
  .ftco-feature-1 .ftco-feature-1-text {
	margin-top: -30px;
    padding: 30px; }
  .ftco-feature-1 h2 {
    font-size: 20px;
    font-weight: bold; 
  margin-top: -22px; }
  .ftco-feature-1 p {
    color: #989898; }
  .ftco-feature-1:hover, .ftco-feature-1.active {
    -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1); }

.block-14 .owl-nav {
  display: none; }

.block-14 .owl-stage {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.block-14 .owl-dots {
  text-align: center; }
  .block-14 .owl-dots .owl-dot {
    display: inline-block;
    margin: 5px; }
    .block-14 .owl-dots .owl-dot > span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ccc;
      border-radius: 50%; }
    .block-14 .owl-dots .owl-dot.active > span {
      background: #c83660; }

.section-heading .subheading {
  color: #ababab;
  font-size: 1.2rem; }

.section-heading .heading {
  color: #ffe941;
  font-size: 2.5rem;
  font-weight: 900; 
  margin-top: 39px; }

.class-item {
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  z-index: 1; }
  .class-item .class-item-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
    .class-item .class-item-thumbnail img {
      max-width: 100px;
      border-radius: 4px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
  .class-item .class-item-text {
    color: rgba(255, 255, 255, 0.2); }
    .class-item .class-item-text h2 {
      font-size: 18px;
      margin-bottom: 0px; }
      .class-item .class-item-text h2 a {
        color: #000; }
    .class-item .class-item-text p, .class-item .class-item-text span {
      color: #aeaeae; }
    .class-item .class-item-text span {
      font-size: 16px; }
  .class-item:hover {
    z-index: 2;
    background: #c83660; }
    .class-item:hover h2 a {
      color: #fff; }
    .class-item:hover p, .class-item:hover span {
      color: rgba(255, 255, 255, 0.6); }

.days {
  width: 100%;
  padding: 0;
  margin: 0 0 50px 0; }
  .days li {
    text-align: center;
    display: inline-block;
    width: 14.25%; }
    .days li a {
      background: #eee;
      padding: 10px;
      display: block; }
      .days li a:hover, .days li a.active {
        background: #c83660;
        color: #fff; }

.bgimg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .bgimg, .bgimg .container .row {
    height: 500px; }
  .bgimg:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1; }
  .bgimg .lead {
    color: #fff; }
  .bgimg > .container {
    z-index: 2;
    position: relative; }
  .bgimg h2 {
    color: #fff;
    font-size: 3rem;
    margin-top: 0;
    font-weight: bold; }
    @media (max-width: 991.98px) {
      .bgimg h2 {
        font-size: 2rem; } }
  .bgimg a {
    color: #fff;
    text-decoration: underline; }
    .bgimg a:hover {
      text-decoration: none; }

.footer-section {
  padding: 0em 0; }
  .footer-section p {
    font-size: 1rem;
    font-weight: 600;
	margin-top: -41px; }
  .footer-section h3 {
    font-size: .9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 900; }
  .footer-section .footer-links li {
    margin-bottom: 10px; }

.person img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px; }

.person .position {
  color: #ccc;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold; }

.person h3 {
  font-size: 18px;
  font-weight: bold; }

.person p {
  font-size: 15px; }

#contact-section .form-control {
  background: #fff; }

.contact-wrap {
  padding-bottom: 8rem !important; }

.footer-section {
  padding-top: 0rem !important; }

.sec-title{
  position:relative;
  margin-bottom:70px;
}

.sec-title .title{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1em;
  color: #ff8a01;
  font-weight: 500;
  background: rgb(247,0,104);
  background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 25%, rgba(247,0,104,1) 75%, rgba(68,16,102,1) 100%);
  background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);
  background: linear-gradient(to left, rgba(247,0,104) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
  color: transparent;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.sec-title h2{
  position:relative;
  display: inline-block;
  font-size:48px;
  line-height:1.2em;
  color:#1e1f36;
  font-weight:700;
}

.sec-title .text{
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: #888888;
  margin-top: 30px;
}

.sec-title.light h2,
.sec-title.light .title{
  color: #ffffff;
  -webkit-text-fill-color:inherit; 
}

#price {
  text-align: center;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: 'Lato', Arial, sans-serif;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
  border: solid;
  border-width: thin;
  border-color: #9c9c9c;
}

.entry-title {
    background: #ffe941;
    height: 140px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.entry-title>h3 {
    background: #ffe941;
    font-size: 20px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 1000;
    margin: 0;
    color: white;
    border-bottom: 1px solid #d5bd04;
}

.entry-title .price {
    position: absolute;
    bottom: -25px;
    background: #ffe941;
    height: 95px;
    width: 95px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50px;
    border: 5px solid #fff;
    line-height: 80px;
    font-size: 22px;
    font-weight: 1000;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
    color: #323232;
    margin-bottom: -25px;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
}

.pricebutton a {
    background: #323232;
    padding: 12px 34px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    font-size: 13px;
}
.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}
.basic .entry-title {
    background: #ffe941;
}

.basic .entry-title > h3 {
    background: #ffe941;
}

.basic .price {
    background: #ffe941;
}

.standard .entry-title {
  background: #4484c1;
}

.standard .entry-title > h3 {
  background: #3772aa;
}

.standard .price {
  background: #3772aa;
}

.ultimite .entry-title > h3 {
  background: #DD4B5E;
}

.ultimite .entry-title {
  background: #F75C70;
}

.ultimite .price {
  background: #DD4B5E;
}

.dbox {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .dbox {
      margin-bottom: 0;
      padding: 0; } }
  .dbox p {
    margin-bottom: 0; }
    .dbox p span {
      font-weight: 500;
      color: #bc9864;
      display: block;
	  margin-top: -15px; }
    .dbox p a {
      color: #989898; }
  .dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffe941;
    margin: 0 auto;
    margin-bottom: 20px; }
    .dbox .icon span {
      font-size: 30px;
      color: #000; }
  .dbox .text {
    width: 100%; }
	
.contact-us {
margin-left: 300px;
}

.btn-box1 {
    background-color: #d5d4d4a1;
    border-radius: 10px;
}

.btn-box1:hover {
color: white;
}

.copy-notification {
            color: #ffffff;
            background-color: rgba(0,0,0,0.8);
            padding: 20px;
            border-radius: 30px;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 150px;
            margin-top: -30px;
            margin-left: -85px;
            display: none;
            text-align:center; 
			z-index: 10000;
}

.WelcomeSign { 
color: #ffe941;
font-weight: bold;
}

.WelcomeSign h3 { 
border-bottom: 5px solid #161616;
width: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.project-title {
  color: #ff686b;
  font-size: 50px;
	margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.slider {
  background: #000;
  height: 400px;
  position: relative;
  text-align: center;
  width: 100%;
}
.arrow {
  background: black;
  border: none;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  display: none;
  opacity: .4;
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .2s;
	top: 50%;
  transition: .2s;
}
.arrow:hover {
  opacity: .8;
}
.arrow.next {
  right: 2%
}
.arrow.prev {
  left: 2%;
}
.slide {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fffff;
  height: 100%;
  padding: 90px 0 0;
  position: absolute;
  width: 100%;
}
.slide-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px 0;
  text-transform: uppercase;
}
.slide-desc {
  font-size: 20px;
  margin: 40px auto 0;
  width: 65%;
}
.slide-image,
.slide-image img{
  height: 100%;
  width: 100%;
}
.slide:first-of-type {
  background-image: url("https://images.pexels.com/photos/40120/pexels-photo-40120.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}
.slide:nth-of-type(2) {
  background-image: url("https://images.pexels.com/photos/288477/pexels-photo-288477.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}
.slide:last-of-type {
  background-image: url("https://images.pexels.com/photos/27665/pexels-photo-27665.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
}
.active {
  display: block;
}
.slide-nav {
  bottom: 30px;
	position: absolute;
   width: 100%;
}
.nav-item {
  background: #fff;
  border: 2px solid #ffc800;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  transition: background .4s;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.nav-item:hover {
  transform: scale(1.3);
}
.item-active {
  background: #fff;
  transform: scale(1.3);
}
.dot {
  border-radius: 50%;
}
.dot,
.square{
  height: 15px;
	width: 15px;
}
.rectangle {
  height: 15px;
  width: 30px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.project-title {
  color: #ff686b;
  font-size: 50px;
	margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.slider {
  background: #000;
  height: 326px;
  position: relative;
  text-align: center;
  width: 100%;
}
.arrow {
  background: black;
  border: none;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  display: none;
  opacity: .4;
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .2s;
	top: 50%;
  transition: .2s;
}
.arrow:hover {
  opacity: .8;
}
.arrow.next {
  right: 2%
}
.arrow.prev {
  left: 2%;
}
.slide {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  padding: 90px 0 0;
  position: absolute;
  width: 100%;
}
.slide-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px 0;
  text-transform: uppercase;
}
.slide-desc {
  font-size: 20px;
  margin: 40px auto 0;
  width: 65%;
}
.slide-image,
.slide-image img{
  height: 100%;
  width: 100%;
}
.slide:first-of-type {
  background-image: url("https://i.imgur.com/IeyL4fY.jpeg");
}
.slide:nth-of-type(2) {
  background-image: url("https://i.imgur.com/Bh0EqWE.jpeg");
}
.slide:last-of-type {
  background-image: url("https://i.imgur.com/L01Cyq1.jpeg");
}
.active {
  display: block;
}
.slide-nav {
  bottom: 30px;
	position: absolute;
   width: 100%;
}
.nav-item {
  background: #fff;
  border: 2px solid #ff686b;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  transition: background .4s;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.nav-item:hover {
  transform: scale(1.3);
}
.item-active {
  background: #ff686b;
  transform: scale(1.3);
}
.dot {
  border-radius: 50%;
}
.dot,
.square{
  height: 15px;
	width: 15px;
}
.rectangle {
  height: 15px;
  width: 30px;
}

.col-card {
    background-color: #f5f5f7
}

.col-card__card {
    border-radius: 6px;
    margin-bottom: 32px;
    border: none
}

.col-card__img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.col-card__body {
    padding: 32px
}

.col-card__btn {
    width: 100%
}

.gen-col-card {
    background-color: #f5f5f7;
    margin-bottom: 59px;
}

.gen-col-card__card {
    border-radius: 6px;
    margin-bottom: 32px;
    border: solid;
	border-width: thin;
	border-color: #9c9c9c;
}

.gen-col-card__img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.gen-col-card__body {
    padding: 32px
}

.gen-col-card__btn {
    width: 100%
}

.double-card__card {
    padding: 332px 32px 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    overflow: hidden;
    margin-bottom: 32px
}

@media only screen and (max-width: 575px) {
    .double-card__card {
        padding:232px 15px 15px 15px
    }
}

.double-card__body {
    z-index: 1;
    color: #fff
}

.double-card__grad--bottom {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
    position: absolute;
    bottom: 0px;
    height: 532px;
    width: 100%;
    left: 0;
    z-index: 0;
    opacity: 0.9
}

[class*="col-"],section,.nav,#searchbar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}

[class*="col-"],section,.nav,#searchbar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.email-button {

}

.btn-secondary {
    background-color: #fff !important;
    border-color: #585858 !important;
    color: #585858;

}
.pricebutton {
    border-radius: 30px !important;
    padding: 10px 26px;
    font-weight: 600;
    box-shadow: none !important;
    margin-top: 17px;
    margin-bottom: 10px;
}

.gen-col-card__title {
width: 300px;
margin-top: -20px;
font-weight: 800;
margin-left: -17px;
text-transform: capitalize;
}

.card-body h6 {
margin-left: -16px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.btn-secondary:hover {
    color: #000;
    background-color: #5a6268;
    border-color: #545b62;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.team {
    text-align: center;
    padding: 2.375em;
    width: 60%;
}
  
.team img {
    border-radius: 100%;
    border: 0;
    width: 100px;
    margin-bottom: -5px;
  }

.team h3 {
    color: black;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.45;
    margin: 1rem 0 0 0;
    text-transform: capitalize;
  }

.team h5 {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.45;
    margin-bottom: 1rem;
  }
  
  .team p {
    color: $grey-dark;
    font-size: 1rem;
    font-weight: $weight-normal;
    line-height: 1.45;
    margin-bottom: 1rem;
}

  .button-wrap {
    margin-bottom: 1rem;
  }
  
.social {
    width: 100%;
    padding: 10px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.social li {
    display: inline-block;
    background-color: #dbdbdbba;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
	}
	
	.social li a:hover {
	color: #7a7777;
	}
	
	
.team-button-wrap {
  margin-top: 1.15rem;
  display: flex;
  justify-content: center;

}

.home-team-intro {
  .button-wrap;
    display: none
}

// TEAM MODAL 
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

.modal-content {
    position: relative;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    background-color: rgba(10, 10, 10, .86);
}

.team-card-full {
    max-width: 47%;
    position: relative;
    border-radius: 8px;
    padding: 2.375em;
    display: flex;
    flex-direction: row;
    background: white;
    margin-left: 500px;
    margin-top: 100px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -163px;
}

.team p {
    color: gray;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.45;
    margin-bottom: 1rem;
}

.modal-close {
    background: 0 0;
    height: 40px;
    position: fixed;
    right: 515px;
    top: 107px;
    width: 40px;
    -webkit-appearance: none;
    background-color: rgb(0 0 0 / 20%);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    font-size: 0;
    outline: 0;
    vertical-align: top;
}

.team-card-full .profile img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 0;
	}
	
.team-card-full p {
    text-align: left;
    margin-left: -125px;
	}
	
.team p {
    color: #000000;
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.45;
    margin-bottom: 1rem;
	}
	
.card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f6f6f6;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.col-6 {
    margin-left: 0px;
    margin-right: -222px;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-right: 10px;
    margin-top: -1px;
}

.copy-container {
	border: 1px solid #c3c0c0;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    background: #e5e3e39c;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.phone-container {
cursor: pointer;	
}

.social .phone-container:hover {
color: #7a7777;
}

.button-wrap:hover {
color: #7a7777;
}